body {
    background-image: linear-gradient(to right, blue, aqua);
}

svg {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    max-height: 2350px;
    max-width: 2700px;
    width: 100%;
    height: 100%;
}

.popKick {
    transform: scale(1.04);
    transform-origin: 100% 35%;
}

.popHT {
    transform: scale(1.05);
    transform-origin: 83% 35%;
}

.popSNR {
    transform: scale(1.05);
    transform-origin: 79% 56%;
}

.popFLR {
    transform: scale(1.05);
    transform-origin: 116% 56%;
}

.popMT {
    transform: scale(1.05);
    transform-origin: 112% 35%;
}

.popCRS {
    transform: scale(1.05);
    transform-origin: 65% 35%;
}

.popRDE {
    transform: scale(1.05);
    transform-origin: 136% 35%;
}

.popHH {
    transform: scale(1.05);
    transform-origin: 60% 60%;
}